@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about {
  margin: auto;
  padding-top: 80px;
  width: 80%;
}

.about .inside {
  width: 100%;
}

.about .inside .numbers {
  margin-top: 40px;
}

.about .inside .numbers .element-2 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #E5E5E5;
  width: 100%;
}

.about .inside .numbers .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .inside .numbers .plus .plus-1 {
  margin-right: 4rem;
}

.about .inside .numbers .plus .plus-1 span {
  color: #769881;
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: Jost, sans-serif;
}

.about .inside .numbers .plus .plus-1 p {
  color: #777777;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.5;
}

.about .inside .about-left .twice .text-1 h5 {
  color: #101010;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px 0px 6px 0px;
  font-weight: 700;
  font-family: Jost, sans-serif;
}

.about .inside .about-left .twice .believe h3 {
  color: #101010;
  margin: 0px 0px 13px -3px;
  font-size: 45px;
  font-weight: 800;
  line-height: 58px;
  font-family: Jost, sans-serif;
}

.about .inside .about-left .twice .bring p {
  color: #777777;
  font-size: 13px;
  line-height: 26px;
  margin: 10px 0;
  font-family: Jost, sans-serif;
  width: 98%;
  border-bottom: 1px solid;
  border-color: #b9b9b9;
  padding-bottom: 30px;
}

.detail {
  background-color: #769881;
  width: 100%;
  height: 55vh;
  margin-top: 50px;
}

.detail .domen {
  padding: 90px 0 0 40px;
}

.detail .domen .domen-left .domen-text-left h4 {
  font-size: 24px;
  margin-bottom: 13px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-top: 20px;
}

.detail .domen .domen-left .domen-text-p p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  font-family: Jost, sans-serif;
  width: 80%;
}

.detail .domen .domen-middle .domen-text-middle h4 {
  font-size: 24px;
  margin-bottom: 13px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-top: 20px;
}

.detail .domen .domen-middle .domen-text-middle-p p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  font-family: Jost, sans-serif;
  width: 80%;
}

.detail .domen .domen-right .text-right h4 {
  font-size: 24px;
  margin-bottom: 13px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-top: 20px;
}

.detail .domen .domen-right .text-p p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  font-family: Jost, sans-serif;
  width: 80%;
}

.anthony {
  width: 80%;
  margin: auto;
}

.anthony .lopez {
  margin-top: 80px;
}

.anthony .lopez .lopez-left {
  position: relative;
}

.anthony .lopez .lopez-left .eye {
  width: 100%;
}

.anthony .lopez .lopez-left .eye::after {
  content: '';
  top: 77%;
  left: 40%;
  background-color: #101010;
  width: 777px;
  height: 445px;
  position: absolute;
  opacity: 0.3;
}

.anthony .lopez .lopez-left .eye img {
  position: absolute;
  top: 77%;
  left: 40%;
}

.anthony .lopez .lopez-left .eye .eye-div {
  position: absolute;
  top: 100%;
  margin: 50px 0 0 60px;
  left: 100%;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: none;
  padding: 25px 22px;
  z-index: 100;
}

.anthony .lopez .lopez-left .eye .eye-div a {
  width: 100%;
  text-decoration: none;
}

.anthony .lopez .lopez-left .eye .eye-div a i {
  font-size: 32px;
  color: #769881;
}

.anthony .lopez .lopez-right .lopez-text {
  width: 76%;
}

.anthony .lopez .lopez-right .lopez-text span {
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  font-family: Jost, sans-serif;
}

.anthony .lopez .lopez-right .logo-1 img {
  margin-top: 25px;
}

.anthony .lopez .lopez-right .ceo {
  margin-top: 10px;
}

.anthony .lopez .lopez-right .ceo h2 {
  color: #101010;
  font-size: 17px;
  font-weight: 700;
  font-family: Jost, sans-serif;
}

.anthony .lopez .lopez-right .ceo h3 {
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.625;
}

.meet {
  width: 80%;
  margin: auto;
  padding-top: 350px;
  text-align: center;
}

.meet .team h2 {
  color: #181B2B;
  font-family: "Manrope", Sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
}

.meet .fred {
  cursor: pointer;
  margin-top: 40px;
}

.meet .fred .logoo img {
  width: 255px;
  height: 255px;
}

.meet .fred .will {
  padding: 20px 60px 0px 0px;
}

.meet .fred .will h4 {
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  margin-bottom: 0px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-right: 35px;
}

.meet .fred .will span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: Jost, sans-serif;
  line-height: 1.7333333333333;
  margin-right: 35px;
}

.meet .fred .logoo-1 img {
  width: 255px;
  height: 255px;
}

.meet .fred .design {
  padding: 20px 60px 0px 0px;
}

.meet .fred .design h4 {
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  margin-bottom: 0px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-right: 30px;
}

.meet .fred .design span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: Jost, sans-serif;
  line-height: 1.7333333333333;
  margin-right: 40px;
}

.meet .fred .logoo-2 img {
  width: 255px;
  height: 255px;
}

.meet .fred .walter {
  padding: 20px 90px 0px 0px;
}

.meet .fred .walter h4 {
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  margin-bottom: 0px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-right: 42px;
}

.meet .fred .walter span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: Jost, sans-serif;
  line-height: 1.7333333333333;
  margin-right: 58px;
}

.meet .fred .logoo-3 img {
  width: 255px;
  height: 255px;
}

.meet .fred .robyn {
  padding: 20px 90px 0px 0px;
}

.meet .fred .robyn h4 {
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  margin-bottom: 0px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  margin-right: 40px;
}

.meet .fred .robyn span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-family: Jost, sans-serif;
  line-height: 1.7333333333333;
  margin-right: 105px;
}

.meet .letterr {
  margin-top: 60px;
}

.meet .letterr .letter-text h1 {
  font-family: "Manrope", Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #181B2B;
  margin-bottom: 20px;
}

.meet .letterr .letter-text span {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #777777;
  display: inline-block;
  margin-bottom: 20px;
}

.meet .letterr .letter-button {
  margin-top: 20px;
}

.meet .letterr .letter-button input {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: 37%;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 21px 0 21px 20px;
}

.meet .letterr .letter-button a {
  margin-left: 20px;
  padding: 24px 42px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Jost, sans-serif;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #769881;
}

.meet .letterr .letter-button a:hover {
  background-color: #181B2B;
}

.payment {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.payment .delivery {
  margin-left: 30px;
}

.payment .delivery .del-icon i {
  font-size: 20px;
}

.payment .delivery .del-text {
  margin-left: 25px;
}

.payment .delivery .del-text h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment .delivery .del-text h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

.payment .delivery .ret .ret-icon i {
  font-size: 20px;
}

.payment .delivery .ret .ret-text {
  margin-left: 25px;
}

.payment .delivery .ret .ret-text h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment .delivery .ret .ret-text h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

.payment .delivery .quality .quality-icon i {
  font-size: 20px;
}

.payment .delivery .quality .quality-text {
  margin-left: 25px;
}

.payment .delivery .quality .quality-text h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment .delivery .quality .quality-text h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

@media (max-width: 576px) {
  .about .inside .about-left .twice .believe h3 {
    font-size: 31px;
    line-height: 40px;
  }
  .about .inside .numbers .plus {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-align: center;
  }
  .about .inside .about-right {
    margin-bottom: 30px;
  }
  .detail {
    width: 100%;
    height: 150vh;
  }
  .detail .domen {
    padding-left: 0;
  }
  .anthony .lopez .lopez-right .lopez-text {
    width: 100%;
  }
  .meet .fred {
    margin-left: -140px;
  }
  .meet .letterr .letter-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .meet .letterr .letter-button input {
    width: 100%;
  }
  .meet .letterr .letter-button a {
    padding: 24px 12px;
  }
  .payment .delivery {
    margin-left: -30px;
  }
  .payment .delivery .del-1 {
    margin-bottom: 30px;
  }
  .payment .delivery .ret {
    margin-bottom: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  font-family: Jost, sans-serif;
  width: 100%;
}

.header .top-header {
  padding-top: 30px;
  width: 75%;
  margin: auto;
}

.header .top-header .top-left {
  margin-top: 20px;
}

.header .top-header .top-left ul {
  cursor: pointer;
}

.header .top-header .top-left ul li {
  margin-right: 20px;
  border-bottom: 2px solid #181B2B;
  font-size: 15px;
  font-family: Jost, sans-serif;
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .top-header .top-left ul li:hover {
  color: #889881;
}

.header .top-header .top-middle {
  padding-left: 80px;
}

.header .top-header .top-middle img {
  width: 186px;
}

.header .top-header .top-right {
  cursor: pointer;
  text-align: center;
}

.header .top-header .top-right .top-acc-1 {
  margin-right: 20px;
  border-right: 1px solid;
  border-color: #D4D6E5;
  padding-right: 30px;
}

.header .top-header .top-right .top-acc-1:hover i {
  color: #A300D2;
}

.header .top-header .top-right .top-acc-1:hover span {
  color: #A300D2;
}

.header .top-header .top-right .top-acc-1 i {
  font-size: 25px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .top-header .top-right .top-acc-1 span {
  font-family: Jost,sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2c2f40;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .top-header .top-right .top-acc {
  margin-right: 20px;
  border-right: 1px solid;
  border-color: #D4D6E5;
  padding-right: 30px;
}

.header .top-header .top-right .top-acc i {
  font-size: 25px;
  margin-bottom: 5px;
}

.header .top-header .top-right .top-acc span {
  font-family: Jost,sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2c2f40;
}

.header .top-header .top-right .top-acc-2 {
  margin-right: 20px;
  border-right: 1px solid;
  border-color: #D4D6E5;
  padding-right: 30px;
}

.header .top-header .top-right .top-acc-2 i {
  font-size: 25px;
  margin-bottom: 5px;
}

.header .top-header .top-right .top-acc-2 span {
  font-family: Jost,sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2c2f40;
}

.header .top-header .top-right .top-euro {
  margin-top: 15px;
}

.header .top-header .top-right .top-euro ul li {
  position: relative;
}

.header .top-header .top-right .top-euro ul li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #000;
}

.header .top-header .top-right .top-euro ul li a:hover ul {
  opacity: 1;
  visibility: visible;
}

.header .top-header .top-right .top-euro ul li a ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 58px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 8px;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.header .top-header .top-right .top-euro ul li a ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .top-header .top-right .top-euro ul li a ul li:hover {
  color: #909090;
}

.header .top-header .top-right .top-euro ul li a i {
  color: #101010;
  margin-left: 3px;
  font-size: 11px;
}

.header .bottom-header {
  margin-top: 30px;
  border-top: 1px solid;
  border-color: #D4D6E5;
}

.header .bottom-header .bottom-all {
  padding: 18px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #D4D6E5;
}

.header .bottom-header .bottom-all .bottom-left {
  margin-right: 65px;
}

.header .bottom-header .bottom-all .bottom-left ul {
  position: relative;
  cursor: pointer;
}

.header .bottom-header .bottom-all .bottom-left ul li {
  margin-right: 35px;
  line-height: 15px;
  color: #181B2B;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li:hover {
  color: #889881;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay:hover .layout {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  background-color: white;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout {
  position: absolute;
  left: 0%;
  top: 100%;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  width: 1088px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 100;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left {
  background-image: url(https://demo.themewinter.com/wp/bascart/fashion/wp-content/uploads/sites/8/2021/10/leaf-shape.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li {
  padding: 10px 0;
  line-height: 40px;
  width: 100%;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li.lay-li {
  background-color: #F4F9F5;
  width: 100%;
  border-left: 3px solid #769881;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li.lay-li a {
  color: #000;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li.lay-li a i {
  color: #769881;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li a {
  color: #889881;
  font-weight: 500;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-left ul li a i {
  margin-right: 10px;
  padding-left: 10px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-middle {
  padding: 20px 0 0 30px;
  background-color: #F4F9F5;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-middle li:hover a {
  color: #769881;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-middle ul .bas-li a {
  color: #000;
  font-weight: bold;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-middle ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: Jost, sans-serif;
  line-height: 40px;
  color: #808080;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right {
  padding: 20px 0px 0 30px;
  background-color: #F4F9F5;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right li:hover a {
  color: #769881;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right .logo {
  padding: 20px 0 0 30px;
  position: relative;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right .logo img {
  width: 75%;
  height: 90%;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right .logo .lay-but a {
  position: absolute;
  top: 80%;
  left: 17%;
  background-color: #769881;
  color: white;
  font-weight: 500;
  padding: 15px 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right .logo .lay-but a:hover {
  background-color: #181B2B;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right .logo .lay-but a i {
  margin-left: 10px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right ul .li-woo a {
  color: #000;
  font-weight: bold;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-right ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: Jost, sans-serif;
  line-height: 40px;
  color: #808080;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center {
  padding: 20px 0 0 30px;
  background-color: #F4F9F5;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center li:hover a {
  color: #769881;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center ul .center-li a {
  color: #000;
  font-weight: bold;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center ul li .hot {
  background-color: #FF233D;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center ul li span {
  background-color: #22CC47;
  color: white;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 4px;
  border-radius: 3px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-lay .layout .layout-center ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: Jost, sans-serif;
  line-height: 40px;
  color: #808080;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages:hover .pages {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  background-color: white;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages {
  position: absolute;
  width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 100%;
  left: 0;
  margin-top: 22px;
  padding-left: 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 2px solid #769881;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages .pages-center {
  padding-left: 5rem;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages .pages-middle {
  padding-left: 8rem;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages .pages-right {
  padding-left: 80px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul {
  margin-top: 20px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li {
  font-size: 15px;
  font-weight: 500;
  font-family: Jost, sans-serif;
  line-height: 40px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li a {
  color: #808080;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li a:hover {
  color: #889881;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li.fashion-li a {
  color: #000;
  font-weight: bold;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li .span-li {
  background-color: #FF233D;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-pages .pages ul li span {
  background-color: #22CC47;
  color: white;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 4px;
  border-radius: 3px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home {
  position: relative;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home:hover ul {
  opacity: 1;
  visibility: visible;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home ul {
  position: absolute;
  top: 100%;
  left: -25%;
  width: 200px;
  z-index: 100;
  background-color: white;
  margin-top: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home ul li {
  width: 100%;
  border-bottom: 1px solid #dadada;
  padding-left: 15px;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home ul li a {
  color: #404040;
  line-height: 55px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .bottom-header .bottom-all .bottom-left ul li.li-home ul li a:hover {
  color: #889881;
}

.header .bottom-header .bottom-all .bottom-right {
  margin-left: 220px;
  cursor: pointer;
}

.header .bottom-header .bottom-all .bottom-right i {
  font-size: 16px;
}

.header .bottom-header .bottom-all .bottom-right input {
  font-size: 16px;
  font-weight: 400;
  color: #3E3E3E;
  padding-left: 5px;
  border: none;
  cursor: pointer;
}

.header .bottom-header .bottom-all .bottom-right span i {
  opacity: 0;
}

@media (max-width: 576px) {
  .header .top-header {
    width: 100%;
  }
  .header .top-header .top-left {
    display: none;
  }
  .header .top-header .top-middle {
    padding-left: 20px;
  }
  .header .top-header .top-right .top-acc {
    display: none;
  }
  .header .top-header .top-right .top-acc-1 {
    display: none;
  }
  .header .top-header .top-right .top-acc-2 {
    display: block;
    border-right: 0;
  }
  .header .top-header .top-right .top-euro {
    display: none;
  }
  .header .bottom-header {
    margin-top: 40px;
  }
  .header .bottom-header .bottom-all {
    padding: 18px 0;
  }
  .header .bottom-header .bottom-all .bottom-left {
    display: none;
  }
  .header .bottom-header .bottom-all .bottom-right {
    margin-left: 0;
  }
  .header .bottom-header .bottom-all .bottom-right span {
    padding-left: 17rem;
  }
  .header .bottom-header .bottom-all .bottom-right span i {
    opacity: 1;
    width: 50px;
    height: 40px;
    border-radius: 3px;
    background-color: #769881;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact {
  width: 100%;
  height: 40vh;
  background-image: url(https://demo.themewinter.com/wp/bascart/fashion/wp-content/themes/bascart/assets/images/bg_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .contact-inside {
  margin-top: 120px;
}

.contact .contact-inside .contact-text h1 {
  font-family: Jost, sans-serif;
  font-size: 36px;
  color: #ffffff;
  line-height: 1.1;
  font-weight: 700;
  margin: 10px 0 0 90px;
}

.contact .contact-inside .contact-text-2 ul {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7333333333333;
  font-family: Jost, sans-serif;
  margin: 25px 0 0 90px;
}

.contact .contact-inside .contact-text-2 ul .li-1 {
  cursor: pointer;
}

.contact .contact-inside .contact-text-2 ul li {
  color: white;
  padding-left: 30px;
}

.contact-anket {
  width: 80%;
  margin: auto;
}

.contact-anket .anket {
  margin-top: 50px;
  padding-left: 30px;
}

.contact-anket .anket .all-text {
  margin-top: 180px;
}

.contact-anket .anket .all-text .anket-text-1 {
  margin-bottom: 30px;
}

.contact-anket .anket .all-text .anket-text-1 span {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-1 h2 {
  font-size: 26px;
  font-weight: 700;
  color: #101010;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-2 {
  margin-bottom: 30px;
}

.contact-anket .anket .all-text .anket-text-2 span {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-2 h2 {
  font-size: 26px;
  font-weight: 700;
  color: #101010;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-3 {
  margin-bottom: 20px;
}

.contact-anket .anket .all-text .anket-text-3 span {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 30px;
}

.contact-anket .anket .all-text .anket-text-4 i {
  width: 44px;
  margin-right: 10px;
  height: 44px;
  text-align: center;
  color: #222222;
  line-height: 40px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact-anket .anket .all-text .anket-text-4 i:hover {
  background-color: #769881;
  color: white;
}

.contact-anket .anket .all-text .anket-text-5 span {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .all-text .anket-text-5 h2 {
  font-size: 26px;
  font-weight: 700;
  color: #101010;
  font-family: Jost, sans-serif;
  line-height: 1.625;
}

.contact-anket .anket .anket-answer {
  width: 100%;
  padding-top: 30px;
  background-color: white;
  -webkit-box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.1);
}

.contact-anket .anket .anket-answer .answer-text {
  margin-top: 30px;
}

.contact-anket .anket .anket-answer .answer-text h2 {
  color: #101010;
  font-size: 22px;
  font-weight: 700;
  font-family: Jost, sans-serif;
  line-height: 1.625;
  text-align: center;
}

.contact-anket .anket .anket-answer .answer-input {
  margin-top: 30px;
}

.contact-anket .anket .anket-answer .answer-input .form-select {
  width: 90%;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #676767;
  font-size: 18px;
}

.contact-anket .anket .anket-answer .answer-input .form-select .op-1 {
  color: #676767;
  font-size: 18px;
}

.contact-anket .anket .anket-answer .first-name {
  padding-left: 40px;
}

.contact-anket .anket .anket-answer .first-name input {
  padding: 30px 0px 23px 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #b7b7b7;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  width: 90%;
}

.contact-anket .anket .anket-answer .answer-input-3 {
  margin-top: 20px;
  padding: 0 0 0 40px;
}

.contact-anket .anket .anket-answer .answer-input-3 input {
  color: #777777;
  display: block;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #b7b7b7;
  padding: 20px 0px 23px 0px;
  font-family: "Rubik", Sans-serif;
  width: 95%;
}

.contact-anket .anket .anket-answer .answer-input-4 {
  padding-left: 40px;
}

.contact-anket .anket .anket-answer .answer-input-4 input {
  padding: 30px 0px 23px 0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #b7b7b7;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  width: 90%;
}

.contact-anket .anket .anket-answer .answer-input-5 {
  padding-left: 40px;
}

.contact-anket .anket .anket-answer .answer-input-5 textarea {
  font-family: "Rubik", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #b7b7b7;
  background-color: #02010100;
  color: #777777;
  padding: 30px 0px 23px 0px;
  height: 150px;
  width: 95%;
}

.contact-anket .anket .anket-answer .answer-button {
  text-align: center;
  padding: 60px 0 60px 0;
}

.contact-anket .anket .anket-answer .answer-button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  padding: 18px 200px;
  background-color: #769881;
}

.contact-anket .anket .anket-answer .answer-button a i {
  margin-left: 10px;
}

.payment-2 {
  width: 75%;
  margin: auto;
  padding-top: 80px;
}

.payment-2 .delivery-1 .del-icon-1 i {
  font-size: 20px;
}

.payment-2 .delivery-1 .del-text-1 {
  margin-left: 25px;
}

.payment-2 .delivery-1 .del-text-1 h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment-2 .delivery-1 .del-text-1 h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

.payment-2 .delivery-1 .ret-1 .ret-icon-1 i {
  font-size: 20px;
}

.payment-2 .delivery-1 .ret-1 .ret-text-1 {
  margin-left: 25px;
}

.payment-2 .delivery-1 .ret-1 .ret-text-1 h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment-2 .delivery-1 .ret-1 .ret-text-1 h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

.payment-2 .delivery-1 .quality-1 .quality-icon-1 i {
  font-size: 20px;
}

.payment-2 .delivery-1 .quality-1 .quality-text-1 {
  margin-left: 25px;
}

.payment-2 .delivery-1 .quality-1 .quality-text-1 h3 {
  color: #181B2B;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  font-family: Jost, sans-serif;
}

.payment-2 .delivery-1 .quality-1 .quality-text-1 h6 {
  color: #181B2B;
  font-size: 14px;
  line-height: 18px;
  font-family: Jost, sans-serif;
}

@media (max-width: 576px) {
  .contact .contact-inside {
    margin-top: 65px;
  }
  .contact .contact-inside .contact-text h1 {
    margin: 0;
  }
  .contact .contact-inside .contact-text-2 ul {
    margin: 0;
  }
  .contact .contact-inside .contact-text-2 ul li {
    padding-left: 0;
    margin: 20px 20px 0 0;
  }
  .contact-anket {
    width: 100%;
  }
  .contact-anket .anket {
    padding-left: 0;
  }
  .contact-anket .anket .all-text {
    padding-left: 20px;
    margin-top: 25px;
  }
  .contact-anket .anket .anket-answer .first-name input {
    width: 95%;
  }
  .contact-anket .anket .anket-answer .answer-input-4 input {
    width: 95%;
  }
  .contact-anket .anket .anket-answer .answer-button a {
    width: 100%;
  }
  .payment-2 {
    width: 100%;
    padding-left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: #F2F3F9;
}

.footer .footer-inside {
  width: 75%;
  margin: auto;
}

.footer .footer-inside .top-footer .all {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inside .top-footer .all .top-footer-left img {
  width: 179px;
}

.footer .footer-inside .top-footer .all .top-footer-middle {
  margin-right: 20px;
}

.footer .footer-inside .top-footer .all .top-footer-middle i {
  font-size: 20px;
}

.footer .footer-inside .top-footer .all .top-footer-middle .first-span {
  font-weight: 400;
  line-height: 18px;
  color: #2c2f40;
  padding-left: 12px;
  font-family: Jost, sans-serif;
}

.footer .footer-inside .top-footer .all .top-footer-middle .second-span {
  font-family: Jost, sans-serif;
  color: #2c2f40;
  font-size: 22px;
  font-weight: 700;
  padding-left: 15px;
}

.footer .footer-inside .top-footer .all .top-footer-right ul {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.footer .footer-inside .top-footer .all .top-footer-right ul li {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: white;
  background-color: #1877F2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF4D;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .first-li {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .first-li:hover {
  background-color: white;
  color: #1DA9F3;
  border-color: #1DA9F3;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .second-li {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #1DA1F2;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .second-li:hover {
  background-color: white;
  color: #1DA1F2;
  border-color: #1DA1F2;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .third-li {
  background-color: red;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .third-li:hover {
  color: red;
  border-color: red;
  background-color: white;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .fourth-li {
  background-color: #115bbb;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .footer-inside .top-footer .all .top-footer-right ul .fourth-li:hover {
  background-color: white;
  color: #0077B5;
  border-color: #0077B5;
}

.footer .footer-inside .bottom-footer .down-all {
  margin-top: 50px;
  width: 100%;
}

.footer .footer-inside .bottom-footer .down-all li {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .footer-inside .bottom-footer .down-all li:hover {
  color: #769881;
}

.footer .footer-inside .bottom-footer .down-all .down-1 {
  height: 260px;
  background-color: #EBEDF5;
  padding: 40px 40px 30px 40px;
}

.footer .footer-inside .bottom-footer .down-all .down-1 h4 {
  font-size: 15px;
  font-weight: 500;
  color: #2C2F40;
  line-height: 22px;
  font-family: Jost, sans-serif;
}

.footer .footer-inside .bottom-footer .down-all .down-1 ul li {
  color: #2C2F40;
  font-family: Jost, sans-serif;
  line-height: 30px;
  font-size: 15px;
}

.footer .footer-inside .bottom-footer .down-all .down-1 ul li i {
  margin-right: 10px;
}

.footer .footer-inside .bottom-footer .down-all .down-2 {
  margin-top: 40px;
  padding-left: 120px;
}

.footer .footer-inside .bottom-footer .down-all .down-2 h4 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  color: #2c2f40;
}

.footer .footer-inside .bottom-footer .down-all .down-2 ul li {
  font-weight: 400;
  line-height: 38px;
  font-size: 15px;
  font-family: Jost, sans-serif;
}

.footer .footer-inside .bottom-footer .down-all .down-3 {
  margin-top: 40px;
}

.footer .footer-inside .bottom-footer .down-all .down-3 .down-method {
  margin-top: 35px;
}

.footer .footer-inside .bottom-footer .down-all .down-3 .down-method .method-text {
  margin-bottom: 20px;
}

.footer .footer-inside .bottom-footer .down-all .down-3 .down-method .method-text h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #2c2f40;
  font-family: Jost, sans-serif;
}

.footer .footer-inside .bottom-footer .down-all .down-3 .down-method .logo img {
  width: 194px;
}

.footer .footer-inside .bottom-footer .down-all .down-3 h4 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  color: #2c2f40;
}

.footer .footer-inside .bottom-footer .down-all .down-3 ul li {
  font-weight: 400;
  line-height: 38px;
  font-size: 15px;
  font-family: Jost, sans-serif;
}

.footer .footer-inside .bottom-footer .down-all .down-3 ul li span {
  background-color: #EE4D4D;
  color: white;
  margin: 0px 0px 0px 10px;
  padding: 3px 5px 3px 5px;
  line-height: 12px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 2px 2px 2px 2px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 {
  margin-top: 40px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 .dowload-down {
  margin-top: 20px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 .dowload-down .dowload-text h4 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  color: #2c2f40;
  margin-bottom: 20px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 .dowload-down .dowload-photo {
  cursor: pointer;
}

.footer .footer-inside .bottom-footer .down-all .down-4 .dowload-down .dowload-photo .logo-down-1 img {
  width: 135px;
  margin-right: 10px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 h4 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  color: #2c2f40;
  margin-bottom: 20px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 input {
  font-size: 14px;
  line-height: 28px;
  color: #495057;
  background-color: white;
  border-radius: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF00;
  padding: 11px 20px 11px 20px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 button {
  height: 51px;
  background-color: #769881;
  font-weight: 700;
  width: 50px;
  border: none;
  margin: -4px;
}

.footer .footer-inside .bottom-footer .down-all .down-4 button i {
  color: white;
}

.footer .footer-menu {
  margin-top: 50px;
  background-color: #181B2B;
  height: 12vh;
  cursor: pointer;
}

.footer .footer-menu .total-menu {
  padding: 30px 20px 18px 50px;
}

.footer .footer-menu .total-menu .all-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footer .footer-menu .total-menu .all-total .total-left .total-icon i {
  margin: 3px 15px 0px 0px;
  color: white;
}

.footer .footer-menu .total-menu .all-total .total-left .total-text h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.footer .footer-menu .total-menu .all-total .total-left .total-text p {
  color: white;
  font-size: 15px;
}

.footer .footer-menu .total-menu .all-total .total-middle .location-icon i {
  margin: 3px 15px 0px 0px;
  color: white;
}

.footer .footer-menu .total-menu .all-total .total-middle .location-text h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.footer .footer-menu .total-menu .all-total .total-middle .location-text p {
  color: white;
  font-size: 15px;
}

.footer .footer-menu .total-menu .all-total .total-right {
  margin-right: 110px;
}

.footer .footer-menu .total-menu .all-total .total-right .right-icon i {
  margin: 3px 15px 0px 0px;
  color: white;
}

.footer .footer-menu .total-menu .all-total .total-right .chat-total h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.footer .footer-menu .total-menu .all-total .total-right .chat-total p {
  color: white;
  font-size: 15px;
}

.footer .faq {
  width: 100%;
  margin-top: 40px;
}

.footer .faq .copyright .copy-inside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .faq .copyright .copy-inside .copy-left p {
  font-family: Jost, sans-serif;
  color: #404040;
  line-height: 1.7333333333333;
  font-size: 15px;
}

.footer .faq .copyright .copy-inside .copy-right ul {
  cursor: pointer;
}

.footer .faq .copyright .copy-inside .copy-right ul li {
  margin-left: 30px;
  color: #2C2F40;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.2px;
  font-family: Jost, sans-serif;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer .faq .copyright .copy-inside .copy-right ul li:hover {
  color: #769881;
}

@media (max-width: 576px) {
  .footer .footer-inside {
    width: 100%;
  }
  .footer .footer-inside .top-footer {
    border-bottom: 1px solid #cbcdd8;
    padding-bottom: 50px;
    width: 95%;
    margin: auto;
  }
  .footer .footer-inside .top-footer .all {
    line-height: 90px;
    width: 80%;
  }
  .footer .footer-inside .top-footer .all .top-footer-right ul li {
    margin: 0 10px 0 0;
  }
  .footer .footer-inside .bottom-footer {
    display: block;
  }
  .footer .footer-inside .bottom-footer .down-all {
    width: 100%;
  }
  .footer .footer-inside .bottom-footer .down-all .down-1 {
    height: 300px;
    width: 100%;
  }
  .footer .footer-inside .bottom-footer .down-all .down-2 {
    padding: 15 0 0 15px;
    width: 100%;
    margin: 0;
  }
  .footer .footer-inside .bottom-footer .down-all .down-3 {
    padding-left: 15px;
  }
  .footer .footer-inside .bottom-footer .down-all .down-3 .down-method .logo img {
    width: 350px;
  }
  .footer .footer-inside .bottom-footer .down-all .down-4 {
    width: 100%;
    padding-left: 20px;
  }
  .footer .footer-inside .bottom-footer .down-all .down-4 input {
    width: 90%;
  }
  .footer .footer-inside .bottom-footer .down-all .down-4 .dowload-down .dowload-photo .logo-down-1 img {
    width: 230px;
    margin-right: 40px;
  }
  .footer .footer-inside .footer-menu {
    height: 40vh;
  }
  .footer .footer-inside .footer-menu .total-menu {
    padding: 0;
  }
  .footer .footer-inside .footer-menu .total-menu .all-total {
    padding-left: 20px;
    margin-top: 30px;
  }
  .footer .footer-inside .footer-menu .total-menu .all-total .total-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .footer-inside .footer-menu .total-menu .all-total .total-middle {
    width: 40%;
    padding-right: 40px;
    margin-bottom: 20px;
  }
  .footer .footer-inside .footer-menu .total-menu .all-total .total-right {
    width: 100%;
  }
  .footer .footer-inside .faq .copyright .copy-inside {
    padding-left: 120px;
  }
  .footer .footer-inside .faq .copyright .copy-inside .copy-left {
    padding-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */